<%= require('html-loader!./header.html') %>
			
            <!-- site content -->
			<main class="site-content">

				<section id="who-we-are" class="who-we-are bg-accent section-1">
					<div class="container">
						<div class="row">
							<div class="col col-12">
								<div class="design-img-wrap">
									<div class="img-wrap">
										<img class="block-c" src="${require(`./img/garlic.png`)}">
									</div>
								</div>
								<div class="who-we-are-block border-block inline-x-r">
									<h2 class="title h1">Kas mēs esam?</h2>
									<p class="textarea-field p">Mēs esam tie, kas tic, ka Latvijā mēs varam izaudzēt ķiplokus un nodrošināt mūsu Latvijas iedzīvotājus ar kvalitatīvu produkciju no ražas līdz ražai, nodrošinot attīstību Latvijas mazajām un vidējām zemnieku saimniecībām.</p>
									<div class="border border-top"></div>
									<div class="border border-right"></div>
									<div class="border border-bottom"></div>
								</div>
								<div class="btn-wrap flex-x-r">
									<a class="btn btn-1 flex-x-c flex-nowrap">
										<div class="inner flex-y-x">
											<img src="${require(`./img/play.png`)}">
											<span class="text bold">Skatīt video</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="what-we-do" class="what-we-do section-decor">
					<div class="container">
						<div class="row">
							<div class="col col-12">
								<div class="what-we-do-block border-block actual-borders">
									<div class="design-img-wrap inline-block inline-x-r">
										<div class="large-img clip-path section-bg inline-block" style="background-image: url( ${require(`./img/tractor.jpg`)} );"></div>
										<div class="small-img clip-path section-bg inline-block" style="background-image: url( ${require(`./img/green.jpg`)} );"></div>
									</div>
									<h2 class="title h1">Ko mēs darām?</h2>
									<p class="textarea-field p">Mēs neaudzējām ķiploku, jo mēs ticam, ka ķiploks ir īpašs, viņš prasa uzmanību, aprūpi un mīlestību katru dienu, ko vislabāk un galvenais pareizā apjomā var nodrošināt zemnieks tāpēc mēs darām visu pārējo - gādājam ķiploku sēklas materiālu, sagatavojam to stādīšanai, vajadzības gadījumā palīdzam iestādīt un aprūpēt, lai ķiploks justos labi un augtu bagāts. Mēs iepērkam zemnieku izaudzēto tieši no lauka, tīrām to un žāvējam, šķirojam un glabājam. Sagatavojam pārdošanai veikaliem, tirgiem, kā arī pārstrādājam tālākos produktos kurus izmanto konservēšanas cehi, gaļas un zivju pārstrādes uzņēmumi.<br>
									Mēs meklējam latvietības sadarbības formu - mēs respektējam individualitāti, bet zinām konkurētspējas likumus, kurus apiet nav iespējams.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="farmers" class="farmers bg-accent">
					<div class="container small">
						<div class="row">
							<div class="col col-12">
								<h2 class="title h1 small inline-x-c m-b-section-title">Zemniekiem</h2>
								<div class="editor-wrapper">
									<h4>Daudzi ir dzirdējuši par ķiploku audzēšanas bumu Latvijā, kurš ir sācies pēdējo gadu laikā, nenoliedzami daudzi ir metušies iekšā audzēšanā, maigi izsakoties pārgalvīgi, investējot resursus - gan naudu, gan laiku un ļoti bieži diemžēl ciešot smagu fiasko.</h4>
									<h4>Arī mēs esam piedzīvojuši smagas mācībstundas un nu jau arī "mācībgadus"</h4>
									<h3>Mēs neesam padevušies un turpinām strādāt!</h3>
									<h4>Sākam ar to, ka varam dalīties pieredzē ar "jaunajiem" un uzklausīt tos kas ir uzkrājuši pieredzi ķiploku laukā.</h4>
									<h4>Izprotot vajadzības mēs organizējam kopīgu licencētu sēklas materiāla iegādi un piegādi no Eiropas ķiploku sēklaudzētājiem. Drīzumā arī no Ukrainas.</h4>
									<h4>Būtisks izaicinājums sēklas materiālā sagatavošanā ir daivošana, ko mazos apjomos var paveikt ar rokām, bet pie apjoma 100 un vairāk kilogrami, tas kļūst ne tikai fiziski smagi, bet arī laikietilpīgi, kas ir būtisks apstāklis, kad "minūte druvā ir dārga". Arī šeit mēs nākam talkā - spējot sagatavot vismaz 6 tonnas daivota sēklas materiāla vienā maiņā, kas ir ne tikai ātrāk, bet arī vismaz 2 reizes lētāk, kā darot to ar rokām.</h4>
									<h4>Stādīšana ir process. kuru mēs iesakām zemniekiem organizēt pašiem, jo to ir grūti prognozēt Latvijas mainīgajos klimatiskajos apstākļos, tomēr mēs nekad neatteiksim, ja būs iespēja palīdzēt grūtā brīdī.</h4>
								</div>
								<div class="list-box bg-default c-on-dark">
									<div class="box-decor box-decor-1"></div>
									<div class="box-decor box-decor-2"></div>
									<div class="inner">
										<h3 class="h2 small title">Mēs labprāt sadarbosimies izaudzētā realizācijā, ja:</h3>
										<ol class="list">
											<li>Ķiploka sēklas materiāls ticis iegādāts caur mums vai citu zināmu respektablu kompāniju, vai palicis no iepriekšējā gada ražas, par kuru jau mēs esam sadarbojušies.</li>
											<li>Reģistrēta Primārā ražošana PVD</li>
											<li>Ievērotas visas normas attiecībā uz AAL lietošanu</li>
											<li>Nav puves un kukaiņu bojāmi.</li>
											<li>Pēc novākšanas nav pagājušas vairāk kā 48 stundas un ķiploks ir novākts atbilstoši <a href="#">rekomendācijām</a></li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="traders" class="traders section-decor">
					<div class="container small">
						<div class="row">
							<div class="col col-12">
								<h2 class="title h1 small inline-x-c m-b-section-title">Tirgotājiem</h2>
								<div class="editor-wrapper">
									<h4>Mēs cienām savus klientus un vēlamies Jūs nodrošināt ar pašu labāko, tāpēc mums ir svarīgi zināt un izprast Jūsu vēlmes, mēs esam gatavi pielāgoties līdz varam panākt savstarpēju izdevīgumu.</h4>
									<h4>Mēs piedāvājam dažādu kalibru ķiploku galvas fasētas tīkla tipa maisos, kartona kastēs vai pēc skaita mazos iepakojumos, kā arī atgriežamajā tarā.</h4>
									<h4>Nodrošinām produktu marķēšanu atbilstoši normatīvo aktu prasībām un tirgotāja rekomendācijām.</h4>
									<h4>Mūsu prioritāte ir Latvijā audzēti ķiploki, bet pieprasījuma piedāvājuma ceļi  var būt neparedzami, tāpēc ja Latvijas ķiploks beidzas, tas ir mūsu uzdevums nodrošināt Jūs ar alternatīvu.</h4>
									<h3>HORECA sektors</h3>
									<h4>Mēs ticam, ka Jums ir būtiski ātrums, pieejamība un nemainīga kvalitāte, ja tā ir tad mēs varam Jums piedāvāt ķiploku galvas, ķiploku daivas vai lobītas ķiploku daivas vakuuma iepakojumā u.c. produktus. Slēdzam līgumus uz gadu un vienojamies par nodrošinājumu konkrētiem apjomiem/ šķirnēm/ audzētājiem.</h4>
									<h3>Pāstrādātāji</h3>
									<h4>Desa zivs vai marinēti gurķīši, tie visi ir pelnījuši Latvijas ķiploku īstai garšai.</h4>
									<h4>Ķiploki lobīti, malti, ķiploku pārslas, granulas ir mūsu izaicinājums Jums piedāvāt.</h4>
									<h4>Ja varbūt, kāds produkts šobrīd vēl nav pieejams, tad mūsu uzdevums ir spēt Jums to piedāvāt, tālākā izvēle jau ir Jūsu ziņā.</h4>
									<h4>Slēdzam ilgtermiņa līgumus un nodrošinām nepārtrauktu piegādes ciklu.</h4>
									<h3>Tehnikas un tehnoloģisko iekārtu piegādātājiem</h3>
									<h4>Lai būtu līderi kādā nozarē, ir būtiski sadarboties ar līderiem. Mēs esam atvērti jauniem tehnoloģiskiem risinājumiem un progresīvai tehnikai ķiploku audzēšanas un pēcapstrādes jomā. Uzsākot sadarbību ar mums, jūs nodrošināsiet pieeju Latvijas liekākajai un aktīvākajai ķiploku nozares pārstāvju daļai.</p>
									<h4>Rīkojot seminārus un prezentācijas kopā ar mums Jūs iegūsiet pieeju mērķa klientiem un kvalitatīvu tūlītēju atgriezenisko saiti.</h4>
								</div>
								<div class="list-box bg-accent">
									<div class="box-decor box-decor-1"></div>
									<div class="box-decor box-decor-2"></div>
									<div class="inner">
										<h3 class="h2 small title">Sniedzam sekojošus pakalpojumus uzņēmumiem:</h3>
										<ol class="js-height-for-3-col list">
											<li>Produktu piegāde</li>
											<li>Ķiploku tīrīšana</li>
											<li>Ķiploku galvu šķirošana</li>
											<li>Ķiploku galvu sadalīšana galvās</li>
											<li>Ķiploku daivu šķirošana</li>
											<li>Ķiploku daivu lobīšana</li>
											<li>Iepakošana vakuumā</li>
											<li>Ķiploku uzglabāšana</li>
											<li>Fasēšana un marķēšana</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="news" class="news bg-default">
					<div class="container">
						<div class="row">
							<div class="col col-12">
								<div class="design-img-wrap">
									<div class="img-wrap">
										<img src="${require(`./img/garlic-2.png`)}">
									</div>
								</div>
								<h2 class="title h1 inline-x-c c-on-dark m-b-section-title">Jaunumi</h2>
								<div class="news-block-wrap flex-x-c row">
									<div class="news-block col col-4 col-sm-12 col-xs-12">
										<div class="img-wrap">
											<div class="img section-bg" style="background-image: url( ${require(`./img/garlic-small-1.jpg`)} );"></div>
										</div>
										<div class="contents-wrap">
											<h4 class="title h3 c-accent">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
											<p class="text p small c-on-dark">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
											<p class="date p small" style="color: rgba(57,46,44,.8);">2018.05.18</p>
										</div>
									</div>
									<div class="news-block col col-4 col-sm-12 col-xs-12">
										<div class="img-wrap">
											<div class="img section-bg" style="background-image: url( ${require(`./img/garlic-small-2.jpg`)} );"></div>
										</div>
										<div class="contents-wrap">
											<h4 class="title h3 c-accent">Vestibulum ut tincidunt turpis, ut bibendum nisi.</h4>
											<p class="text p small c-on-dark">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
											<p class="date p small" style="color: rgba(57,46,44,.8);">2018.04.11</p>
										</div>
									</div>
									<div class="news-block col col-4 col-sm-12 col-xs-12">
										<div class="img-wrap">
											<div class="img section-bg" style="background-image: url( ${require(`./img/garlic-small-3.jpg`)} );"></div>
										</div>
										<div class="contents-wrap">
											<h4 class="title h3 c-accent">In hac habitasse platea dictumst. Nulla facilisi. Interdum et malesuada fames ac ante.</h4>
											<p class="text p small c-on-dark">Praesent eu porttitor nunc, sed finibus felis. Vivamus suscipit felis augue, eu ullamcorper justo maximus eget. Integer eget neque semper, aliquam lacus in...</p>
											<p class="date p small" style="color: rgba(57,46,44,.8);">2018.03.07</p>
										</div>
									</div>
								</div>
								<div class="newsletter-block margin-auto">
									<div class="upper-wrap flex flex-nowrap-lg-up bg-accent">
										<h3 class="block-title h1 small super-small">Pieraksties jaunumiem</h3>
										<div class="contents-wrap">
											<h4 class="title h3">Ķiploku aprūpe - būtiska ir informācijas apmaiņa, piesakies jaunumiem un saņem jaunāko informāciju par to ko esam uzzinājuši mēs:</h4>
											<ol class="js-height-for-2-col list">
												<li>Jaunumi par AAL</li>
												<li>Novērojumi uz lauka - slimības, kaitēkļi, šķirņu augšanas specifika</li>
												<li>Novākšana</li>
												<li>Novākšana</li>
												<li>Informatīvie semināri, tehnikas prezentācijas utt.</li>
												<li>Ražas iepirkšana no zemniekiem</li>
											</ol>
										</div>
									</div>
									<div class="newsletter-form-wrap bg-white">
										<form class="flex">
											<fieldset class="radio-master-fieldset col-md-down-12">
												<label class="fieldset-title h3">Jus esat</label>
												<div class="lower-wrap col-12 flex">
													<div class="radio-wrap flex">
														<input id="farmer" type="radio" name="who-are-you" value="farmer" checked>
														<label class="label-radio" for="farmer"></label>
														<p class="text-radio p all-caps">Zemnieks</p>
													</div>
													<div class="radio-wrap flex">
														<input id="trader" type="radio" name="who-are-you" value="trader">
														<label class="label-radio" for="trader"></label>
														<p class="text-radio p all-caps">tirgotājs</p>
													</div>
												</div>
											</fieldset>
											<fieldset class="email-master-fieldset col-md-down-12">
												<label class="fieldset-title h3">E-pasta adrese:</label>
												<div class="lower-wrap col-12 flex">
													<div class="input-wrap flex">
														<input class="input border" type="email">
														<button class="btn btn-1 min-w-190" type="submit">Pierakstīties</button>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div class="shadow"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="contacts bg-accent">
					<div id="contacts" class="container">
						<div class="row">
							<div class="col col-12">
								<h2 class="title h1 inline-x-c m-b-section-title">Kontakti</h2>
								<div class="contacts-block-wrap flex-x-c row js-equal-height-wrap">
									<div class="contacts-block flex-x-c col col-4 col-sm-12 col-xs-12">
										<div class="inner inline-x-c">
											<h3 class="block-title flex-c-column h3 js-equal-height">Sadarbība <br>ar zemniekiem</h3>
											<div class="img-wrap">
												<div class="img section-bg" style="background-image: url( ${require(`./img/employee-1.jpg`)} );"></div>
											</div>
											<div class="contents-wrap flex">
												<h4 class="title h3">Māris Linde</h4>
												<a class="phone p" href="tel:+37129290101">+371 29290101</a>
												<a class="email p" href="mailto:ml@apiagro.com">ml@apiagro.com</a>
											</div>
										</div>
									</div>
									<div class="contacts-block flex-x-c col col-4 col-sm-12 col-xs-12">
										<div class="inner inline-x-c">
											<h3 class="block-title flex-c-column h3 js-equal-height">Sadarbība ar tirgotājiem un HORECA sektoru</h3>
											<div class="img-wrap">
												<div class="img section-bg" style="background-image: url( ${require(`./img/employee-2.jpg`)} );"></div>
											</div>
											<div class="contents-wrap flex">
												<h4 class="title h3">Aldis Tripāns</h4>
												<a class="phone p" href="tel:+37129290101">+371 29290101</a>
												<a class="email p" href="mailto:at@apiagro.com">at@apiagro.com</a>
											</div>
										</div>
									</div>
									<div class="contacts-block flex-x-c col col-4 col-sm-12 col-xs-12">
										<div class="inner inline-x-c">
											<h3 class="block-title flex-c-column h3 js-equal-height">Sadarbība <br>ar Pāstrādātājiem</h3>
											<div class="img-wrap">
												<div class="img section-bg" style="background-image: url( ${require(`./img/employee-3.jpg`)} );"></div>
											</div>
											<div class="contents-wrap flex">
												<h4 class="title h3">Kaspars Zvaigzne</h4>
												<a class="phone p" href="tel:+37129290101">+371 29290101</a>
												<a class="email p" href="mailto:kz@apiagro.com">kz@apiagro.com</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="contact-form-and-map" class="contact-form-and-map">
					<div class="container">
						<div class="row">
							<div class="col col-12 flex-x-c-md-down">
								<div class="contact-wrap bg-accent-lighter">
									<div class="contact-info-block">
										<p class="company p block">SIA "Api Agro"</p>
										<a class="address p block" href="https://www.google.com/maps/dir/?api=1&destination=Cesu+iela+31,+k-3,+Rīga,+Latvija,+LV-1012" target="_blank" rel="nofollow">Cēsu iela 31, k-3, Rīga, Latvija, LV-1012</a>
										<a class="phone p bold block" href="tel:+37129290101">+371 29290101</a>
										<a class="email p bold block" href="mailto:api@agro.lv">api@agro.lv</a>
									</div>
									<div class="contact-form-wrap">
										<form>
											<h3 class="title h2 block">Sazinies ar mums</h3>
											<input class="input block" type="text" placeholder="Vārds">
											<input class="input block" type="email" placeholder="E-pasts">
											<textarea class="textarea block" placeholder="Jautājums"></textarea>
											<button class="btn btn-1 min-w-148" type="submit">Aizsūtīt</button>
										</form>
									</div>
									<div id="decor-triangle"></div>
								</div>
								<div id="map" class="js-row-full-w">
									<div class="marker" data-lat="56.967012" data-lng="24.141053"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</main>
            <!-- /site content -->

<%= require('html-loader!./footer.html') %>