<%= require('html-loader!./header-news.html') %>
			
            <!-- site content -->
			<main class="site-content">
				<section class="news-single-item section-1">
					<div class="container">
						<div class="row">
							<div class="col col-12">
								<h1 class="title news-single-item-title h1 inline-x-c m-b-section-title">This is title for single news item. Longer than you expected!</h1>
								<div class="editor-wrapper">
									<p>Mēs cienām savus klientus un vēlamies Jūs nodrošināt ar pašu labāko, tāpēc mums ir svarīgi zināt un izprast Jūsu vēlmes, mēs esam gatavi pielāgoties līdz varam panākt savstarpēju izdevīgumu.</p>
									<p>Mēs piedāvājam dažādu kalibru ķiploku galvas fasētas tīkla tipa maisos, kartona kastēs vai pēc skaita mazos iepakojumos, kā arī atgriežamajā tarā.</p>
									<p>Nodrošinām produktu marķēšanu atbilstoši normatīvo aktu prasībām un tirgotāja rekomendācijām.</p>
									<p>Mūsu prioritāte ir Latvijā audzēti ķiploki, bet pieprasījuma piedāvājuma ceļi  var būt neparedzami, tāpēc ja Latvijas ķiploks beidzas, tas ir mūsu uzdevums nodrošināt Jūs ar alternatīvu.</p>
									<h3>HORECA sektors</h3>
									<p>Mēs ticam, ka Jums ir būtiski ātrums, pieejamība un nemainīga kvalitāte, ja tā ir tad mēs varam Jums piedāvāt ķiploku galvas, ķiploku daivas vai lobītas ķiploku daivas vakuuma iepakojumā u.c. produktus. Slēdzam līgumus uz gadu un vienojamies par nodrošinājumu konkrētiem apjomiem/ šķirnēm/ audzētājiem.</p>
									<h3>Pāstrādātāji</h3>
									<p>Desa zivs vai marinēti gurķīši, tie visi ir pelnījuši Latvijas ķiploku īstai garšai.</p>
									<p>Ķiploki lobīti, malti, ķiploku pārslas, granulas ir mūsu izaicinājums Jums piedāvāt.</p>
									<p>Ja varbūt, kāds produkts šobrīd vēl nav pieejams, tad mūsu uzdevums ir spēt Jums to piedāvāt, tālākā izvēle jau ir Jūsu ziņā.</p>
									<p>Slēdzam ilgtermiņa līgumus un nodrošinām nepārtrauktu piegādes ciklu.</p>
									<h3>Tehnikas un tehnoloģisko iekārtu piegādātājiem</h3>
									<p>Lai būtu līderi kādā nozarē, ir būtiski sadarboties ar līderiem. Mēs esam atvērti jauniem tehnoloģiskiem risinājumiem un progresīvai tehnikai ķiploku audzēšanas un pēcapstrādes jomā. Uzsākot sadarbību ar mums, jūs nodrošināsiet pieeju Latvijas liekākajai un aktīvākajai ķiploku nozares pārstāvju daļai.</p>
									<p>Rīkojot seminārus un prezentācijas kopā ar mums Jūs iegūsiet pieeju mērķa klientiem un kvalitatīvu tūlītēju atgriezenisko saiti.</p>
				                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
				                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi:</p>
				                    <ul>
				                      <li>Cons ectetuer adipiscing elit;</li>
				                      <li>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat;</li>
				                      <li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</li>
				                    </ul>
				                    <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate</p>
				                    <h5>Lorem ipsum dolor sit amet.</h5>
				                    <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis</p>
				                    <h1>This is Heading 1</h1>
				                    <h2>This is Heading 2</h2>
				                    <h3>This is Heading 3</h3>
				                    <h4>This is Heading 4</h4>
				                    <h5>This is Heading 5</h5>
				                    <h6>This is Heading 6</h6>
				                    <p>This is Paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				                    <p>This is Paragraph <a href="#">with link</a></p>
				                    <p>This is Paragraph <strong>with bold</strong></p>
				                    <p>This is Paragraph <em>with italic</em></p>
				                    <ul>
				                      <li>List element 1</li>
				                      <li>List element 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum neque egestas justo feugiat tempus. Praesent sed vehicula lectus, non consequat lorem. Suspendisse vel metus eros. Nullam cursus condimentum lobortis. Aenean accumsan vehicula augue, ut sodales turpis maximus id. Morbi tincidunt porta orci, quis vulputate libero elementum id. Duis volutpat non felis non elementum.</li>
				                      <li>List element 3</li>
				                    </ul>
				                    <ol>
				                      <li>List element 1</li>
				                      <li>List element 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum neque egestas justo feugiat tempus. Praesent sed vehicula lectus, non consequat lorem. Suspendisse vel metus eros. Nullam cursus condimentum lobortis. Aenean accumsan vehicula augue, ut sodales turpis maximus id. Morbi tincidunt porta orci, quis vulputate libero elementum id. Duis volutpat non felis non elementum.</li>
				                      <li>List element 3</li>
				                      <li>List element 4</li>
				                      <li>List element 5</li>
				                      <li>List element 6</li>
				                      <li>List element 7</li>
				                      <li>List element 8</li>
				                      <li>List element 9</li>
				                      <li>List element 10</li>
				                      <li>List element 11</li>
				                      <li>List element 12</li>
				                    </ol>
				                    <div class="table-wrap">
				                      <table style="border-collapse: collapse; width: 100%;" border="1">
				                        <tbody>
				                          <tr>
				                            <td style="width: 16.6667%;">Table cell 1</td>
				                            <td style="width: 16.6667%;">Table cell 2</td>
				                            <td style="width: 16.6667%;">Table cell 3</td>
				                            <td style="width: 16.6667%;">Table cell 4</td>
				                            <td style="width: 16.6667%;">Table cell 5</td>
				                          </tr>
				                          <tr>
				                            <td style="width: 16.6667%;">Table cell 1</td>
				                            <td style="width: 16.6667%;">Table cell 2</td>
				                            <td style="width: 16.6667%;">Table cell 3</td>
				                            <td style="width: 16.6667%;">Table cell 4</td>
				                            <td style="width: 16.6667%;">Table cell 5</td>
				                          </tr>
				                          <tr>
				                            <td style="width: 16.6667%;">Table cell 1</td>
				                            <td style="width: 16.6667%;">Table cell 2</td>
				                            <td style="width: 16.6667%;">Table cell 3</td>
				                            <td style="width: 16.6667%;">Table cell 4</td>
				                            <td style="width: 16.6667%;">Table cell 5</td>
				                          </tr>
				                          <tr>
				                            <td style="width: 16.6667%;">Table cell 1</td>
				                            <td style="width: 16.6667%;">Table cell 2</td>
				                            <td style="width: 16.6667%;">Table cell 3</td>
				                            <td style="width: 16.6667%;">Table cell 4</td>
				                            <td style="width: 16.6667%;">Table cell 5</td>
				                          </tr>
				                          <tr>
				                            <td style="width: 16.6667%;">Table cell 1</td>
				                            <td style="width: 16.6667%;">Table cell 2</td>
				                            <td style="width: 16.6667%;">Table cell 3</td>
				                            <td style="width: 16.6667%;">Table cell 4</td>
				                            <td style="width: 16.6667%;">Table cell 5</td>
				                          </tr>
				                        </tbody>
				                      </table>
				                    </div>

				                    <p>
				                      <img src="http://archive.tinymce.com/testfiles/dogleft.jpg" alt="Description" width="800" height="600">
				                    </p>
				                    <p>This is image without positioning 800px * 600px.</p>
				                    <p>
				                      <img style="float: left;" class="alignleft" src="http://archive.tinymce.com/testfiles/firefox.jpg" alt="Description" width="200" height="139">
				                      This is image aligned with left side 200px * 139px. 
				                    </p>
				                    <p>Donec ultricies neque odio, id lobortis orci maximus facilisis. Nam nec laoreet turpis, id ultrices leo. Etiam odio lorem, condimentum non finibus nec, varius vel eros. Ut lacinia quam eu est bibendum, et consectetur arcu rhoncus. Donec a elit risus. Nullam mi mi, suscipit non ex sit amet, vehicula lacinia risus. Phasellus eu augue aliquet, tempus ipsum vitae, finibus quam. Curabitur ex libero, aliquam eget mi in, rhoncus volutpat elit. Sed vestibulum viverra erat. Pellentesque dolor augue, semper in tortor ut, iaculis eleifend purus. Suspendisse et euismod elit. Aliquam at euismod elit. Nulla ut sodales risus. Aenean id dictum odio. Donec sed nunc et sem lobortis laoreet ut vel lacus. Curabitur suscipit egestas enim, non tempus metus.</p>
				                    <p>
				                      <img style="float: right;" class="alignright" src="http://archive.tinymce.com/testfiles/drive.jpg" alt="Description" width="200" height="150">
				                      This is image is aligned with right side 200px  * 150px.
				                    </p>
				                    <p>Donec ultricies neque odio, id lobortis orci maximus facilisis. Nam nec laoreet turpis, id ultrices leo. Etiam odio lorem, condimentum non finibus nec, varius vel eros. Ut lacinia quam eu est bibendum, et consectetur arcu rhoncus. Donec a elit risus. Nullam mi mi, suscipit non ex sit amet, vehicula lacinia risus. Phasellus eu augue aliquet, tempus ipsum vitae, finibus quam. Curabitur ex libero, aliquam eget mi in, rhoncus volutpat elit. Sed vestibulum viverra erat. Pellentesque dolor augue, semper in tortor ut, iaculis eleifend purus. Suspendisse et euismod elit. Aliquam at euismod elit. Nulla ut sodales risus. Aenean id dictum odio. Donec sed nunc et sem lobortis laoreet ut vel lacus. Curabitur suscipit egestas enim, non tempus metus.</p>
				                    <p>
				                      <img style="display: block; margin-left: auto; margin-right: auto;" class="aligncenter" src="http://archive.tinymce.com/testfiles/Earthmap.jpg" alt="Description" width="200" height="100">
				                    </p>
				                    <p>This is image is aligned with center 200px * 100px.</p>
				                    <p>Donec ultricies neque odio, id lobortis orci maximus facilisis. Nam nec laoreet turpis, id ultrices leo. Etiam odio lorem, condimentum non finibus nec, varius vel eros. Ut lacinia quam eu est bibendum, et consectetur arcu rhoncus. Donec a elit risus. Nullam mi mi, suscipit non ex sit amet, vehicula lacinia risus. Phasellus eu augue aliquet, tempus ipsum vitae, finibus quam. Curabitur ex libero, aliquam eget mi in, rhoncus volutpat elit. Sed vestibulum viverra erat. Pellentesque dolor augue, semper in tortor ut, iaculis eleifend purus. Suspendisse et euismod elit. Aliquam at euismod elit. Nulla ut sodales risus. Aenean id dictum odio. Donec sed nunc et sem lobortis laoreet ut vel lacus. Curabitur suscipit egestas enim, non tempus metus.</p>
								</div>
								<div class="btn-wrap flex-x-c m-t-btn-wrap">
									<a href="javascript:void(0)" class="btn btn-1">Atpakaļ</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
            <!-- /site content -->

<%= require('html-loader!./footer.html') %>