/* Site header and footer */

// Site Header
.site-header,
.header-1st-row,
.header-1st-row .main-site-logo img,
.mobile-menu-wrap {
//.header-menu {
// .header-menu li a,
// .lang-switcher li a {
	transition: .4s ease-in-out;
}
.mobile-menu-wrap .main-site-logo img { transition: opacity .4s ease-in-out; }
.site-header {
	position: fixed; // Change to absolute to remove fixed state
	width: 100%;
	padding-top: 38px;
  z-index: 99;
}
.header-1st-row {
	padding-top: 22px;
	padding-bottom: 22px;
	z-index: 2;
	.main-site-logo img { max-height: 75px; }
}
.mobile-menu-wrap {
	padding-top: 10px;
	padding-bottom: 10px;
	.main-site-logo img {
		max-width: 0;
		height: auto;
		opacity: 0;
	}
}
.header-menu,
.lang-switcher {
	li a:hover { text-decoration: underline; }
}
.lang-switcher li a.active { font-weight: 700 !important; }
.not--top {
	.site-header {
		padding-top: 0;
		background-color: rgba($c_accent_lighter,.9);
		transform: translateY(0);
	}
}
.not--top-down .site-header { transform: translateY(-110%) }

@media( min-width: $breakpoint_lg + 1 ) {
	.not--top {
		.site-header {
			.header-menu-wrap { justify-content: flex-start !important; }
			.header-1st-row {
				padding: 0;
				line-height: 0;
				max-height: 0;
				opacity: 0;
				.main-site-logo img { max-height: 0; }
			}
			.mobile-menu-wrap {
				padding-top: 15px;
				padding-bottom: 15px;
				.main-site-logo img {
					max-width: 100%;
					max-height: 60px;
					opacity: 1;
				}
				.header-menu {
					margin-right: 30px;
					margin-left: 30px;
				}
				.header-menu li a,
				.lang-switcher li a {
					font-size: 16px;
				}
			}
		}
	}
}

@media( max-width: $breakpoint_lg ) {
	.site-header {
		position: fixed;
	}
	.header-1st-row {
		.main-site-logo {
			margin-right: 20px;
		}
	}
	.mobile-menu-wrap {
		max-height: calc(90vh - 138px);
		overflow-x: hidden;
	}
	.not--top .site-header {
		.header-1st-row {
			padding-top: 15px;
			padding-bottom: 15px;
			.main-site-logo img { max-height: 60px; }
		}
		.mobile-menu-wrap { max-height: calc(90vh - 90px); }
	}
	body.mobile-menu-open.not--top-down .site-header { transform: translateY(0) }
}

@media( max-width: $breakpoint_md ) {
	.site-header { padding-top: 18px; }
}

.header-menu {
	margin-right: 120px;
	a { padding: 12px; }
	li:first-child a { padding-left: 0; }
	li:last-child a { padding-right: 0; }
}
.lang-switcher {
	a { padding: 12px 16px; }
	li:last-child a { margin-right: -16px; }
}
.header-menu,
.lang-switcher {
	li:last-child a:after { content: none; }
	a:after {
		content: "";
		position: absolute;
		top: 12px;
		right: 0;
		bottom: 12px;
		width: 2px;
		background-color: $c_white;
	}
}

	// Mobile menu
.mobile-menu-icon {
	padding: 10px;
	margin-right: -10px;
	.inner {
		width: 50px;
		height: 28px;
	}
	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		opacity: 1;
		left: 0;
		transform: rotate(0);
		transition: .2s ease-in-out;
		background-color: $c_default;
		&:nth-of-type(1) { top: 0 }
		&:nth-of-type(4) { top: 24px }
		&:nth-of-type(2),
		&:nth-of-type(3) {
		  top: 12px
		}
	}
}
.mobile-menu-icon.open {
	span {
		&:nth-of-type(1),
		&:nth-of-type(4) {
		  opacity: 0;
    	transform: translate(0, 9px) scale(.1)
		}
		&:nth-of-type(2) { transform: rotate(45deg) }
		&:nth-of-type(3) { transform: rotate(-45deg) }
	}
}
body.mobile-menu-open .site-header { background-color: $c_accent_lighter; }

@media( max-width: $breakpoint_lg ) {
	.mobile-menu-wrap {
		display: none;
		padding-top: 42px;
		padding-bottom: 50px;
		.header-menu {
			flex-wrap: wrap;
			margin-right: 6px;
			li {
				width: 100%;
				a {
					padding-left: 0;
					&:after {
						top: auto;
						right: auto;
						bottom: 0;
						left: 2px;
						width: 15px;
						height: 2px;
					}
				}
			}
		}
	}
}


// Site Footer
.site-footer {
	min-height: 50px;
}