/* Site content */

// General
.site-content { 
}

.btn-1 {
  min-width: 213px;
  padding: 10px;
  color: $c_white;
  background-color: $c_default;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  @extend .p;
}

.btn-1:focus,
.btn-1:hover,
.btn-1:active {
  color: #fff;
  background-color: $c_accent_2;
}

.min-w-148 { min-width: 148px; }
.min-w-190 { min-width: 190px; }

.input {
  border: 1px solid $c_default;
}